.parent {
    display: flex;
    justify-content: center;
}

.buttons button {
    color: #b1b1b1;
    padding: 15px 20px;
    margin: 10px;
    margin-top: 20px;
    border: 4px solid #424242;
    border-radius: 10px;
    background-color: #302f2f;
}

.stretched-bg {
    background-size: 100% 100%;
}