* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: courier;
}
#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startButton {
  padding: 15px;
  font-size: 32px;
  cursor: pointer;
  background-color: pink;
  font-family: courier, bold;
}

#gameOverOverlay {
  width: 100vw;
  height: 100vh;
  background-color: grey;;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  gap: 20px;
  font-family: courier;
}

#gameOverMessage {
  font-family: courier;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newGameButton {
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
    background-color: pink;
    font-family: courier, bold;
  }

canvas {
  display: none; /* Hide canvas initially */
}
