.dropbtn {
    background-color: #CC33CC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6699FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
text-align:center;}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {background-color: #99CCFF}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.dropdown:hover .dropbtn {
    background-color: #9999FF;
}
p{text-align:center;color: purple;}
.
