@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap');

body {
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: rgba(2, 2, 27, 1);
    /* background-color: "white"; */
}
canvas {
    border: solid black 1px;
}