body {
    margin: 0 0;
}

.header {
    display: flex;
    max-width: 100%;
    max-height: 217px;
}

.header__logo-image {
    margin-left: 156px;
    margin-top: 42px;
}

.header__text-message {
    margin-top: 44px;
    font-family: Roboto, sans-serif;
    margin-left: 272px;
    margin-right: 384px;
}