body {
    margin: 0 0;
}

.header {
    display: flex;
}

.header__logo-image {
    margin-left: 136px;
    min-width: 500px;
}

@media screen and (max-width: 1083px) {
    .header {
        flex-direction: column;
    }
}